.title {
    padding: 20px;
    border: 20px;
    border-radius: 20px;
    background-color: goldenrod;
    text-align: center;
}

.menu {
    padding: 20px;
    margin: 40px;
    border: 20px;
    border-radius: 20px;
    border-color: black;
    background-color: goldenrod;
    text-align: center;
    border-width: 20px;
}